# client URL
CLIENT_URL="http://localhost:5173"

# database
MONGO_URI=mongodb+srv://username:password@cluster0.nqgzvn0.mongodb.net/

# port
PORT=3000

# Node environment
NODE_ENV="development"

# JWT settings
JWT_SECRET="your_jwt_secret"
JWT_EXPIRES_IN="your_jwt_expiry"