# client URL
CLIENT_URL="http://localhost:5173"

# database
MONGO_URI=mongodb+srv://username:password@cluster0.nqgzvn0.mongodb.net/

# port
PORT=3000

# Node environment
NODE_ENV="development"

# JWT settings
JWT_SECRET="your_jwt_secret"
JWT_EXPIRES_IN="24h"
JWT_REMEMBER_EXPIRES_IN="21d"

# rate limit (adjust as needed)
RATE_LIMIT_GLOBAL_MAX=5
RATE_LIMIT_SEARCH_MAX=5
RATE_LIMIT_AUTH_MAX=5