# client URL
CLIENT_URL="http://localhost:5173"

# database
MONGO_URI="your_mongodb_uri_here"

# port
PORT=3000

# Node environment
NODE_ENV="development"

# JWT settings
JWT_SECRET="your_jwt_secret"
JWT_EXPIRES_IN="your_jwt_expiry"