.profile_page_container {

    background-color: var(--bg); 
    min-height: 100vh;
}

.profile_content {

    margin-top: 25px;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.profile_header {

    position: relative;
    background-color: var(--p5-red);
    color: white;
    padding: 30px;
    margin-bottom: 50px;
     
    border: 10px solid black;
}

.profile_info {
    
    display: flex;
    align-items: center;
    gap: 50px;
}

.edit_profile_button {

    position: absolute;
    top: 20px;
    right: 20px;
    
    background: black;
    color: white;
    font-family: 'Impact', sans-serif;
    font-size: 1.2rem;
    padding: 8px 15px;
    border: 2px solid white;
    
    cursor: pointer;
    transition: all 0.2s;
}

.edit_profile_button:hover {

    background: white;
    color: black;
    transform: scale(1.1) rotate(2deg);
}

/* Section 1: Profile Picture */


.profile_picture_wrapper {

    flex-shrink: 0;
    width: 140px;
    height: 140px;
    margin: 20px;
}

.profile_picture_mask {

    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;

    border: 5px solid black; 
    
    transition: all 0.3s ease;
    position: relative;
}

.profile_picture {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    object-fit: cover;
}

.profile_picture_wrapper:hover {

    transform: scale(1.1) rotate(10deg); 
    transition: transform 0.2s;
}

.profile_picture_wrapper:hover .profile_picture_mask {

    border-color: white;
}

.profile_picture_wrapper:active .profile_picture_mask {

    border-color: grey; 
    box-shadow: 2px 2px 0 black;
}

.profile_picture_wrapper:active {

    transform: scale(1) translate(1px 1px); 
    transition: transform 0.2s;
}


/* Section 2: Profile Information */


.profile_name {

    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Arial Black'; 
    letter-spacing: 2px;
}

.profile_handle {

    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 10px;
}

.profile_bio {

    font-size: 1rem;
    color: white;
    max-width: 400px;
    line-height: 1.4;
}

/* Section 3: Post History */


.section_title {

    color: white;
    background-color: var(--p5-red);
    border: 2px solid black;
    box-shadow: 3px 3px 0 black;
    display: inline-block;
    padding: 5px 20px;
    transform: skewX(-10deg);
    margin-bottom: 20px;
    font-family: 'Arial Black', sans-serif;
    font-size: 1.5rem;
}


/* Section 4: Profile Side Bar */

.profile_side_bar_container {

    flex: 0 0 300px;
}

.profile_side_bar {

    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;

    top: 85px;
    right: 0;
    bottom: 0;
    position: fixed;
    
    border: 2px solid grey;
    padding: 20px;
    gap: 25px;

    overflow-y: auto;
}

.profile_stats_container {

    background: transparent;
    border: 2px solid var(--p5-red);
    padding: 15px;
    position: relative;
    margin-top: 15px; 
}

.profile_info_header {

    position: absolute;
    top: -25px;
    left: -10px;

    background-color: var(--p5-red);
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Arial Black', sans-serif;
    border: 2px solid black;
    box-shadow: 3px 3px 0 black;
    transform: skew(-10deg);
}