:root{
    --red: #c70e0e;
}

.signup_page{
    background-color: #2d2d2d;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_card {
    background-color: #3a3a3a;
    padding: 40px 30px;
    border-radius: 12px;
    width: 380px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup_title {
    color: white;
    font-size: 25px;
    margin: 0 0 10px 0;
    font-family: 'Arial Black', sans-serif;
    text-transform: uppercase;
}

.signup_subtitle {
    color: #ccc;
    font-size: 13px;
    margin-bottom: 30px;
    text-align: center;
}

label{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    margin-bottom: 16px;
    font-size: 13px;
}

input {
    margin-top: 8px;
    padding: 13px 15px;
    border-radius: 9999px;
    border: 1px solid #555;
    background-color: #2d2d2d;
    color: white;
    font-size: 16px;
}

input:focus {
    outline: none;
    transform: skew(-5deg) translate(1px, 1px);
    border: 2px solid var(--red);
    box-shadow: 3px 3px black;
}

.signup_button {
    width: 100%;
    padding: 13px 15px;
    border-radius: 9999px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: opacity 0.2s;
    font-family: 'Arial Black', sans-serif;

    border: 2px solid black;
    color: white;
    background-color: var(--red);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.signup_button:hover {
    transform: skew(-5deg) translate(1px, 1px);
    border: 2px solid black;
    box-shadow: 3px 3px black;
}

.signup_button:active {
    border-color: white; 
    box-shadow: 2px 2px 0 black;
}
.signup_footer {
    color: #ccc;
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
}

.login_link {
    color: var(--red);
    cursor: pointer;
    font-weight: bold;
}

.login_link:hover {
    color: #a50b0b;
}

.logo{
    height: 70px;
    width: 70px;
    margin-bottom: 15px;
}