:root {

    --p5-red: #ef2c2c;
    --p5-black: #000000;
    --p5-white: #ffffff;
    --grey: #808080;
    --bg: #2d2d2d;
    --hover-color: rgba(255, 255, 255, 0.04);
}

.home_container {

    background-color: var(--bg);
    display: flex;
}

.left_side_container {

    flex: 0 0 300px;
}


.feed_container {

    flex: 1;
    max-width: 700px; 
    min-width: 0;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

.right_side_container {

    flex: 0 0 300px;
}