.post_page_container {

    background-color: var(--bg);
    display: flex;
    justify-content: center;
}

.post_page_view {

    flex-grow: 1;
    flex-shrink: 1;
    max-width: 1000px; 
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

