* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: var(--bg);
}

.locked {

    opacity: 0.4; 
    filter: grayscale(100%);
    pointer-events: none; 
    cursor: not-allowed;
    user-select: none;
}