.comment_container {

    margin-top: 20px; 
    width: auto;
    
    border: none;

    border-top: 2px solid grey;
}

.comment_block {

    background: transparent;
    color: white; 
}

.comment_block:hover {

    background-color: var(--hover-color);
}


/* Section 1: Comment Header */


.comment_header {
    
    margin-top: 20px;
    display: flex;
    gap: 10px;

    color: #aaa;
    font-size: 15px;
}

.comment_user {

    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment_date {

    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment_content {

    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Section 2: Comment Footer */


.comment_footer {
    
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    justify-content: space-between;
}


/* Section 3: Comment Section */


.nested_thread_container {

    margin-left: 10px;
    padding-left: 15px;
    
    border-left: 2px solid transparent;
    
    transition: border-color 0.2s;
}

.nested_thread_container:hover {

    border-left: 2px solid var(--p5-red); 
}

/* Section 4: Reply Section */
.reply_box {
    margin-top: 15px;
    padding: 10px;
    border-left: 2px solid var(--p5-red);
    animation: slideIn 0.3s ease-out;
}

.reply_box textarea {
    width: 100%;
    min-height: 80px;
    overflow: hidden;
    resize: none;

    background: var(--hover-color);
    color: #fff;
    border: 2px solid #fff;
    padding: 15px;
    font-family: 'Arial Black', sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    outline: none;
    resize: none;
    
    clip-path: polygon(2% 0%, 100% 0%, 98% 95%, 0% 100%);
    transition: all 0.2s ease-in-out;

    margin-bottom: 20px;
}

.reply_box textarea:focus {
    background: #222;
    border-color: var(--p5-red);
    transform: scale(1.01) rotate(-0.5deg);
    box-shadow: 10px 10px 0px var(--p5-red);
}

.reply_box textarea::placeholder {
    color: #555;
    font-style: italic;
    text-transform: uppercase;
}