.comment_container {

    margin-top: 20px; 
    width: auto;
    
    border: none;

    border-top: 2px solid grey;
}



.comment_block {

    background: transparent;
    color: white; 
}

.comment_block:hover {

    background-color: var(--hover-color);
}

.comment_header {
    
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    color: #aaa;
    font-size: 15px;
}

.comment_user {

    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment_date {

    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment_content {

    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment_footer {
    
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    justify-content: space-between;
}

.nested_thread_container {

    margin-left: 10px; /* Space from the left edge */
    padding-left: 15px; /* Space between line and text */
    
    /* THE LINE ITSELF */
    border-left: 2px solid transparent; /* Dark Grey line (Like VS Code indent guides) */
    
    /* Transition for the hover effect */
    transition: border-color 0.2s;
}

/* 2. Hover Effect (Reddit Style) */
/* When you hover over the thread container, the line lights up */
.nested_thread_container:hover {
    border-left: 2px solid var(--p5-red); /* Phantom Red Highlight */
}


