.comment_container {

    margin-top: 20px; 
    width: auto;
    
    color: white;
    border: none;

    border-top: 2px solid grey;
}

.comment:hover {

    background-color: var(--hover-color);
}

.comment_header {
    
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    color: #aaa;
    font-size: 15px;
}

.comment_user {

    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment_date {

    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment_content {

    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.comment_footer {
    
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    justify-content: space-between;
}


