.modal_overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    
    z-index: 9999;
    
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.2s ease-out;
}

.modal_card {

    background-size: 10px 10px, 10px 10px, cover;
    background-blend-mode: overlay, overlay, normal;
    border-radius: 20px;

    background: var(--bg);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    transition: all 0.1s;
}


/* Section 1: Modal Header */


.modal_header {

    position: relative;
    height: 20px;
    margin-bottom: 20px;
    border: none;
}

.modal_title {

    position: absolute;
    top: -30px;
    left: -30px;

    background-color: var(--p5-red);
    color: white;
    padding: 5px 25px;
    
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Arial Black', sans-serif;
    
    border: 3px solid black; 
    box-shadow: 3px 3px 0 black;
    
    transform: skew(-5deg);
}

.close_icon {

    position: absolute;
    top: -10px;
    right: -10px;
    
    background: transparent;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close_icon:hover {

    color: var(--p5-red);
    transform: scale(1.1);
}


/* Section 2: Modal Body */


.input_group {

    margin-bottom: 15px;
}

.modal_input, .modal_textarea {

    width: 100%;
    padding: 10px;
    border: 2px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    outline: none;
    background: var(--p5-red);
    color: white;
    border-radius: 20px;
    resize: none;
}

.modal_input:focus, .modal_textarea:focus {

    border-color: white;
    background: var(--p5-red);
}

.modal_input::placeholder, .modal_textarea::placeholder {

    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Section 3: Modal Footer */


.modal_footer {

    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

/* Animation */
@keyframes fadeIn {

    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}