.feed_filter_container {

    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--p5-red);
}

.filter_button {

    background: transparent;
    color: grey;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    transition: all 0.2s;
    align-items: center;
}

.filter_button:hover {

    color: white;
    background-color: var(--hover-color);
}

.filter_button.active {

    color: white;
    background-color: var(--p5-red);
    border-color: black; 
    box-shadow: 1px 1px 0 black;
}
