.left_side_bar {

    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;

    border-right: 2px solid grey;

    top: 60px;
    left: 0;
    bottom: 0;
    padding: 20px;
    position: fixed;

    overflow-y: auto;
}

.pill_button.post_button {

    margin-top: 30px;
    height: 100px;
    width: 100%;
    padding: 15px;
    border-radius: 0;

    border: 3px solid black;

    justify-content: center;
}

.pill_button.post_button .pill_button_icon {

    font-size: 2rem;
}

.pill_button.post_button .pill_button_text {

    font-size: 2rem;
}

.pill_button.post_button:active {

    border-color: white; 
    box-shadow: 2px 2px 0 black;
}

.separator {

    margin: 20px;
}