.left_side_bar {

    height: 100vh;
    width: 400px;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    border-right: 2px solid var(--grey);

    top: 60px;
    left: 0;
    bottom: 0;
    padding: 20px;
    position: fixed;

    overflow-y: auto;
}

.left_side_buttons {

    margin-top: 30px;
}

.separator {

    margin-right: 30px;
}