.menu_button {

    width: 200px;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 9999px;
    margin-bottom: 20px;
    margin-left: 5px;
    cursor: pointer;
    
    background-color: var(--p5-red);
    text-shadow: 1px 1px 5px var(--p5-black); 

    display: flex;
    justify-content: flex-start;
    gap: 10px;
    transition: all 0.2s;
    position: relative;

    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;

    border: 2px solid black;

    box-shadow: 3px 3px black;
    transition: all 0.2s;
}

.menu_button:hover {

    transform: skew(-10deg) translate(2px, 2px);
}

.menu_button:active {

    border-color: white; 
    box-shadow: 2px 2px 0 black;
}

.menu_button_icon {

    font-size: 1.2rem;
}

.menu_button_text {

    font-weight: 900;
    font-size: 1.1rem;
    letter-spacing: 1px;
}