.nav_bar {

    background-color: var(--bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    height: 90px;

    top: 0;
    position: sticky;
    z-index: 90;

    border-bottom: 1px solid grey;
}

.nav_left {

    display: flex;
    align-items: center;
    gap: 10px;
    flex: 0 0 auto;
}

.logo {

    width: 50px;
    height: 50px;
    object-fit: contain;
    background: transparent;
}

.logo_text {

    color: white;
    font-weight: bold;
    font-family: 'Arial Black', sans-serif;
    font-size: 18px;
}

.nav_center {

    flex: 1;
    display: flex;
    justify-content: center;
}

.search_input {

    flex: 1;
    min-width: 600px;
    color: white;
    background-color: var(--p5-red);
    border-radius: 9999px;
    padding: 0 15px;
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 15px;

    border: 2px solid black;
}

.search_input:focus {

    border: 2px solid white;
    outline: none;
}

.search_input::placeholder {

    color: white;
}

.nav_right {
    
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.pill_button.home_button {

    width: 110px;
    height: 60px;
}

.pill_button.log_in_button {
    
    width: 110px;
    height: 60px;
}

.nav_link {

    text-decoration: none;
}

