.post_container {

    margin-bottom: 25px; 
    padding: 20px;
    
    color: white;
    border: none;

    border-bottom: 2px solid var(--p5-red);
}

.post_block {

    background: transparent;
    color: white; 
}

.post_block:hover {

    background-color: var(--hover-color);
}

.clickable_post {

    cursor: pointer;
    transition: background-color 0.2s;
}


/* Section 1: Post Header */


.post_header {
    
    display: flex;
    gap: 10px;

    margin-bottom: 10px;

    color: #aaa;
    font-size: 15px;
}

.post_avatar {

    width: 50px;
    height: 50px;
    border-radius: 50%;  
    object-fit: cover;
    border: 2px solid #ddd;
}

.post_info {

    display: flex;
    flex-direction: column; /* Stack name on top of date */
    line-height: 1.2;
}

.post_author {

    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.post_date {

    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.modify_post_container {

    margin-left: auto;
}

.edit_button, .delete_button {

    margin-left: auto; 
    
    background: transparent;
    border: none;
    color: #999;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.edit_button:hover, .delete_button:hover {

    color: #d32f2f;
    background-color: rgba(211, 47, 47, 0.1);
    transform: scale(1.1);
}

.post_title {

    font-size: 20px;
    margin: 0 0 10px 0;
    font-family: 'Arial Black', sans-serif;
    text-transform: uppercase;
}

.post_content {

    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Section 2: Post Footer */


.post_footer {
    
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    justify-content: space-between;
}


/* Section 3: Comment Section */


.comment_section_container {

    margin-left: 10px; 
    padding-left: 15px; 
    
    border-left: 2px solid transparent;
    
    transition: border-color 0.2s;
}

.comment_section_container:hover {

    border-left: 2px solid var(--p5-red); 
}

