.trend_container {

    background: transparent;
    border: 2px solid var(--p5-red);
    padding: 15px;
    position: relative;
    margin-top: 40px; 
}

.trend_header {

    position: absolute;
    top: -25px;
    left: -10px;

    background-color: var(--p5-red);
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    font-family: 'Arial Black', sans-serif;
    font-size: 1.5rem;
    border: 2px solid black;
    box-shadow: 3px 3px 0 black;
    transform: skew(-10deg);
}

.trend_cloud {

    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyword {

    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 8px;
    padding-left: 10px;
    border-left: 3px solid var(--p5-red);
}

.keyword:hover {

    cursor: pointer;
    color: var(--p5-red);
}

.keyword:active {

    transform: translate(1px, 1px);
}
